In [ ]:
!pip install dnspython
!pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 6.5 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://KISHOREKUMAR:1234@cluster0.hgpa2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.studentinformation # studentinformation is database name
records=db.studentid #studentid is collection name referenced to records variable

#FUNCTION AND CLASSES

In [ ]:
from PIL import Image # for inserting images
import io

In [ ]:
import datetime

In [ ]:
class student_info: # creating a class named :student_info
# function to get details of studentsphoto,name,std,sec,parent name,ph no,dob(date time format))

  def st_name(self):
      #for student name
      studentfname=input("enter the first name: ")
      studentfname=studentfname.capitalize()
      studentlname=input("enter the last name: ")
      studentlname=studentlname.capitalize()
      if studentfname.isalpha() and studentlname.isalpha():
        return studentfname,studentlname
      else:
        print("Name can contain only alphabets")
        return self.st_name()
      
  def st_std(self):
      #for student std who are above std 8
      studentstd=input("enter the student std(ex:8 or 9 or 10 0r 11 or 12): ")
      if studentstd in ('8','9','10','11','12'):
        return studentstd
      else:
        print('INVALID INPUT FOR STANDARD')
        return self.st_std()
  def st_sec(self):
      #for student sec
      studentsec=input("enter the student section('A'or'B'or'C'): ")
      if studentsec in ('A','B','C'):
        return studentsec
      else:
        print('INVALID ENTER CORRECT SECTION')
        return self.st_sec()
  def st_parent(self):
      #for student parent name
      studentparent=input("enter parent name: ")
      studentparent=studentparent.capitalize()
      if studentparent.isalpha():
        return studentparent
      else:
        print("Name can contain only alphabets")
        return self.st_parent()
  def st_phno(self):
   #for phone number
      studentphoneno=input("enter the phone number: ")
      if len(studentphoneno)==10 and studentphoneno.isdigit():
        return studentphoneno
      else:
        print('INVALID PH NO')
        return self.st_phno()  # to use recursion inside class 
  def st_dob(self):
    birthday=input("What is your B'day? (in DD/MM/YYYY) ")
    birthdate=datetime.datetime.strptime(birthday,"%d/%m/%Y"). date()
    return birthdate. strftime('%d/%B/%Y')


student_ID=student_info() # object name:student_ID

In [ ]:
#for adding photo
def st_photo(self):
      im=Image.open(input("enter the copied image path: ")) # open the image
      image_bytes = io.BytesIO()  # convert to bytes
      im.save(image_bytes, format='JPEG') #saving the image in JPEG format
      studentphoto=image_bytes.getvalue()
      return studentphoto   # getting the image

In [ ]:
#inserting the record into the collection
def st_run(num_student):
  for i in range(num_student):
    Fname,Lname=student_ID.st_name()
    std=student_ID.st_std()
    sec=student_ID.st_sec()
    parent=student_ID.st_parent()
    contactno=student_ID.st_phno()
    DOB=student_ID.st_dob()

    studentfile={"_id":Fname+Lname+std+sec,
                "First_name":Fname,
                "Last_name":Lname,
                "std":std,
                "section":sec,
                "Parent":parent,
                "Contactno":contactno,
                 "DOB":DOB}
    records.insert_one(studentfile)

In [ ]:
#for which student do you want to update the marks
class updating:
    def st_name(self):
      #for student name
      studentfname=input("enter the first name: ")
      studentfname=studentfname.capitalize()
      studentlname=input("enter the last name: ")
      studentlname=studentlname.capitalize()
      return studentfname,studentlname
    def st_std(self):
      #for student std who are above std 8
      studentstd=input("enter the student std(ex:8 or 9 or 10 0r 11 or 12): ")
      if studentstd in ('8','9','10','11','12'):
        return studentstd
      else:
        print('INVALID INPUT FOR STANDARD')
        return self.st_std(self)
    def st_sec(self):
      #for student sec
      studentsec=input("enter the student section('A'or'B'or'C'): ")
      if studentsec in ('A','B','C'):
        return studentsec
      else:
        print('INVALID ENTER CORRECT SECTION')
        return self.st_sec()
updatemark=updating()

In [ ]:
def markupdate():
  studentfname,studentlname=updatemark.st_name()
  studentstd=updatemark.st_std()
  studentsec=updatemark.st_sec()
  idforupdate=studentfname+studentlname+studentstd+studentsec
  print("max marks is 100")
  quaterly={"Maths":int(input("enter the Quaterly mathsmark: ")),
                              "Physics":int(input("enter the Quaterly physics marks: ")),
                              "Chemistry":int(input("enter the Quaterly chemistry marks: "))}
  totalQuarterly=quaterly["Maths"]+quaterly["Physics"]+quaterly["Chemistry"]
  Halfyearly={"Maths":int(input("enter the Halfyearly mathsmark: ")),
                              "Physics":int(input("enter the Halfyearly physics marks: ")),
                              "Chemistry":int(input("enter the Halfyearly chemistry marks: "))}
  totalHalfyearly=Halfyearly["Maths"]+Halfyearly["Physics"]+Halfyearly["Chemistry"]
  Annual={"Maths":int(input("enter the Annual maths mark: ")),
                              "Physics":int(input("enter the Annual physics marks: ")),
                              "Chemistry":int(input("enter the Annual chemistry marks: "))}
  totalAnnual=Annual["Maths"]+Annual["Physics"]+Annual["Chemistry"]
  filter={"_id":idforupdate} # empty search query means all 
  newval={"$set":{"Quaterly":quaterly,"Quarterly_total":totalQuarterly,"Halfyearly":Halfyearly,"Halfyearly_total":totalHalfyearly,"Annual":Annual,"Annual_total":totalAnnual}}
  records.update_one(filter,newval)

In [ ]:
for i in records.find():
  print(i)

{'_id': 'KishoreKumar12A', 'First_name': 'Kishore', 'Last_name': 'Kumar', 'std': '12', 'section': 'A', 'Parent': 'Dhanasekaran', 'Contactno': '7338842255', 'DOB': '09/May/1999', 'Annual': {'Maths': 100, 'Physics': 90, 'Chemistry': 80}, 'Annual_total': 270, 'Halfyearly': {'Maths': 75, 'Physics': 85, 'Chemistry': 25}, 'Halfyearly_total': 185, 'Quarterly_total': 180, 'Quaterly': {'Maths': 45, 'Physics': 60, 'Chemistry': 75}}
{'_id': 'NaveenKumar11B', 'First_name': 'Naveen', 'Last_name': 'Kumar', 'std': '11', 'section': 'B', 'Parent': 'Vijaya', 'Contactno': '9445369948', 'DOB': '19/September/1996', 'Annual': {'Maths': 80, 'Physics': 80, 'Chemistry': 70}, 'Annual_total': 230, 'Halfyearly': {'Maths': 25, 'Physics': 80, 'Chemistry': 100}, 'Halfyearly_total': 205, 'Quarterly_total': 199, 'Quaterly': {'Maths': 60, 'Physics': 59, 'Chemistry': 80}}
{'_id': 'AravindKumar10A', 'First_name': 'Aravind', 'Last_name': 'Kumar', 'std': '10', 'section': 'A', 'Parent': 'Gopi', 'Contactno': '1234567897', 'DOB': '05/December/1998', 'Annual': {'Maths': 50, 'Physics': 49, 'Chemistry': 70}, 'Annual_total': 169, 'Halfyearly': {'Maths': 45, 'Physics': 80, 'Chemistry': 90}, 'Halfyearly_total': 215, 'Quarterly_total': 240, 'Quaterly': {'Maths': 90, 'Physics': 80, 'Chemistry': 70}}
{'_id': 'GuruRam9C', 'First_name': 'Guru', 'Last_name': 'Ram', 'std': '9', 'section': 'C', 'Parent': 'Venkatesh', 'Contactno': '1234568978', 'DOB': '12/May/1999', 'Annual': {'Maths': 40, 'Physics': 90, 'Chemistry': 60}, 'Annual_total': 190, 'Halfyearly': {'Maths': 100, 'Physics': 80, 'Chemistry': 90}, 'Halfyearly_total': 270, 'Quarterly_total': 280, 'Quaterly': {'Maths': 100, 'Physics': 80, 'Chemistry': 100}}
{'_id': 'KarthickKannan9A', 'First_name': 'Karthick', 'Last_name': 'Kannan', 'std': '9', 'section': 'A', 'Parent': 'Unknown', 'Contactno': '1325865453', 'DOB': '15/December/2001', 'Annual': {'Maths': 80, 'Physics': 90, 'Chemistry': 60}, 'Annual_total': 230, 'Halfyearly': {'Maths': 80, 'Physics': 60, 'Chemistry': 55}, 'Halfyearly_total': 195, 'Quarterly_total': 205, 'Quaterly': {'Maths': 90, 'Physics': 55, 'Chemistry': 60}}
{'_id': 'RamananKumar9C', 'First_name': 'Ramanan', 'Last_name': 'Kumar', 'std': '9', 'section': 'C', 'Parent': 'Unknown', 'Contactno': '1234567985', 'DOB': '12/December/2001', 'Annual': {'Maths': 50, 'Physics': 70, 'Chemistry': 80}, 'Annual_total': 200, 'Halfyearly': {'Maths': 60, 'Physics': 90, 'Chemistry': 100}, 'Halfyearly_total': 250, 'Quarterly_total': 270, 'Quaterly': {'Maths': 90, 'Physics': 80, 'Chemistry': 100}}

#Inserting data into collection

In [ ]:
#for inserting data in the collection
num_student=int(input("Enter the number of student: ")) # no of entries you want to make
st_run(num_student)

Enter the number of student: 2
enter the first name: karthick
enter the last name: kannan
enter the student std(ex:8 or 9 or 10 0r 11 or 12): 9
enter the student section('A'or'B'or'C'): A
enter parent name: unknown
enter the phone number: 123465842
INVALID PH NO
enter the phone number: 1325865453
What is your B'day? (in DD/MM/YYYY) 15/12/2001
enter the first name: ramanan
enter the last name: kumar
enter the student std(ex:8 or 9 or 10 0r 11 or 12): 9
enter the student section('A'or'B'or'C'): C
enter parent name: unknown
enter the phone number: 1234567985
What is your B'day? (in DD/MM/YYYY) 12/12/2001

#UPDATING MARKS IN THE DOCUMENTS INSERTED

In [ ]:
#enter the student detail for whom you want to update the mark
markupdate() # for updating the marks run this cell

enter the first name: ramanan
enter the last name: kumar
enter the student std(ex:8 or 9 or 10 0r 11 or 12): 9
enter the student section('A'or'B'or'C'): C
max marks is 100
enter the Quaterly mathsmark: 90
enter the Quaterly physics marks: 80
enter the Quaterly chemistry marks: 100
enter the Halfyearly mathsmark: 60
enter the Halfyearly physics marks: 90
enter the Halfyearly chemistry marks: 100
enter the Annual maths mark: 50
enter the Annual physics marks: 70
enter the Annual chemistry marks: 80

#QUERYING

FAILED STUDENT IN EACH EXAMS

In [ ]:
#students who failed in annual exam
query={"$or":[{"Annual.Maths":{"$lt":50}},{"Annual.Physics":{"$lt":50}},{"Annual.Chemistry":{"$lt":50}}]}
for i in records.find(query,{"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1}):
  print(i)

{'First_name': 'Aravind', 'Last_name': 'Kumar', 'std': '10', 'section': 'A'}
{'First_name': 'Guru', 'Last_name': 'Ram', 'std': '9', 'section': 'C'}

In [ ]:
#students who failed in Half yearly exam
query={"$or":[{"Halfyearly.Maths":{"$lt":50}},{"Halfyearly.Physics":{"$lt":50}},{"Halfyearly.Chemistry":{"$lt":50}}]}
for i in records.find(query,{"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1}):
  print(i)

{'First_name': 'Kishore', 'Last_name': 'Kumar', 'std': '12', 'section': 'A'}
{'First_name': 'Naveen', 'Last_name': 'Kumar', 'std': '11', 'section': 'B'}
{'First_name': 'Aravind', 'Last_name': 'Kumar', 'std': '10', 'section': 'A'}

In [ ]:
#students who failed in Quarterly yearly exam
query={"$or":[{"Quaterly.Maths":{"$lt":50}},{"Quaterly.Physics":{"$lt":50}},{"Quaterly.Chemistry":{"$lt":50}}]}
for i in records.find(query,{"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1}):
  print(i)

{'First_name': 'Kishore', 'Last_name': 'Kumar', 'std': '12', 'section': 'A'}

FAILED STUDENT IN EACH SUBJECT

In [ ]:
#student failed in maths 
query={"$or":[{"Quaterly.Maths":{"$lt":50}},{"Halfyearly.Maths":{"$lt":50}},{"Annual.Maths":{"$lt":50}}]}
display={"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1,"Quaterly.Maths":1,"Halfyearly.Maths":1,"Annual.Maths":1}
for i in records.find(query,display):
  print(i)

{'First_name': 'Kishore', 'Last_name': 'Kumar', 'std': '12', 'section': 'A', 'Annual': {'Maths': 100}, 'Halfyearly': {'Maths': 75}, 'Quaterly': {'Maths': 45}}
{'First_name': 'Naveen', 'Last_name': 'Kumar', 'std': '11', 'section': 'B', 'Annual': {'Maths': 80}, 'Halfyearly': {'Maths': 25}, 'Quaterly': {'Maths': 60}}
{'First_name': 'Aravind', 'Last_name': 'Kumar', 'std': '10', 'section': 'A', 'Annual': {'Maths': 50}, 'Halfyearly': {'Maths': 45}, 'Quaterly': {'Maths': 90}}
{'First_name': 'Guru', 'Last_name': 'Ram', 'std': '9', 'section': 'C', 'Annual': {'Maths': 40}, 'Halfyearly': {'Maths': 100}, 'Quaterly': {'Maths': 100}}

In [ ]:
#student failed in Physics
query={"$or":[{"Quaterly.Physics":{"$lt":50}},{"Halfyearly.Physics":{"$lt":50}},{"Annual.Physics":{"$lt":50}}]}
display={"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1,"Quaterly.Physics":1,"Halfyearly.Physics":1,"Annual.Physics":1}
for i in records.find(query,display):
  print(i)

{'First_name': 'Aravind', 'Last_name': 'Kumar', 'std': '10', 'section': 'A', 'Annual': {'Physics': 49}, 'Halfyearly': {'Physics': 80}, 'Quaterly': {'Physics': 80}}

In [ ]:
#student failed in Chemistry
query={"$or":[{"Quaterly.Chemistry":{"$lt":50}},{"Halfyearly.Chemistry":{"$lt":50}},{"Annual.Chemistry":{"$lt":50}}]}
display={"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1,"Quaterly.Chemistry":1,"Halfyearly.Chemistry":1,"Annual.Chemistry":1}
for i in records.find(query,display):
  print(i)

{'First_name': 'Kishore', 'Last_name': 'Kumar', 'std': '12', 'section': 'A', 'Annual': {'Chemistry': 80}, 'Halfyearly': {'Chemistry': 25}, 'Quaterly': {'Chemistry': 75}}

TOPPER IN EACH EXAMS

In [ ]:
#top 3 rank in Annual
query={"$and":[{"Annual.Maths":{"$gte":50}},{"Annual.Physics":{"$gte":50}},{"Annual.Chemistry":{"$gte":50}}]}
x=records.find(query,{"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1,"Annual_total":1}).sort("Annual_total",-1).limit(3)
for i in x:
  print(i)

{'First_name': 'Kishore', 'Last_name': 'Kumar', 'std': '12', 'section': 'A', 'Annual_total': 270}
{'First_name': 'Naveen', 'Last_name': 'Kumar', 'std': '11', 'section': 'B', 'Annual_total': 230}
{'First_name': 'Karthick', 'Last_name': 'Kannan', 'std': '9', 'section': 'A', 'Annual_total': 230}

In [ ]:
#top3 rank in Halfyearly
query={"$and":[{"Halfyearly.Maths":{"$gte":50}},{"Halfyearly.Physics":{"$gte":50}},{"Halfyearly.Chemistry":{"$gte":50}}]}
x=records.find(query,{"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1,"Halfyearly_total":1}).sort("Halfyearly_total",-1).limit(3)
for i in x:
  print(i)

{'First_name': 'Guru', 'Last_name': 'Ram', 'std': '9', 'section': 'C', 'Halfyearly_total': 270}
{'First_name': 'Ramanan', 'Last_name': 'Kumar', 'std': '9', 'section': 'C', 'Halfyearly_total': 250}
{'First_name': 'Karthick', 'Last_name': 'Kannan', 'std': '9', 'section': 'A', 'Halfyearly_total': 195}

In [ ]:
#top3 rank in Quaterly
query={"$and":[{"Quaterly.Maths":{"$gte":50}},{"Quaterly.Physics":{"$gte":50}},{"Quaterly.Chemistry":{"$gte":50}}]}
for i in records.find(query,{"_id":0,"First_name":1,"Last_name":1,"std":1,"section":1,"Quarterly_total":1}).sort("Quaterly",-1).limit(3):
  print(i)

{'First_name': 'Guru', 'Last_name': 'Ram', 'std': '9', 'section': 'C', 'Quarterly_total': 280}
{'First_name': 'Ramanan', 'Last_name': 'Kumar', 'std': '9', 'section': 'C', 'Quarterly_total': 270}
{'First_name': 'Aravind', 'Last_name': 'Kumar', 'std': '10', 'section': 'A', 'Quarterly_total': 240}